torch>=2.5.1
torchaudio
transformers>=4.51.3,<5.0.0
pydub
numpy<2.0.0
scipy
librosa
fire
accelerate
sentencepiece
llvmlite>=0.40.0
numba>=0.57.0
diffusers
tqdm
ml-collections
absl-py
gradio
av
aiortc
uvicorn[standard]
fastapi
requests
yt-dlp>=2023.10.0
TTS==0.22.0
pyrubberband
soundfile
bitsandbytes
